* {
  margin: 0;
  padding: 0;
}

html,body{
  max-width: 100%;
  overflow-x: hidden;
}
.background-1 {
  background: #4cbfa6;
  height: auto;
  width: 100%;
}

.line_1 {
  display: flex;
  height: 1em;
  width: 30rem;
  border-bottom: 0.3rem solid #393737;
  top: 4.5rem;
  position: relative;
}

.logo {
  height: 10px;
  width: 20px;
  position: relative;
  left: 2.8rem;
  line-height: 5rem;
  font-size: 5rem;
}

.herding {
  font-size: 30px;
  font-weight: 600;
  position: relative;
  top: 7rem;
}

.image img {
  height: 17rem;
  width: 19rem;
  left: 5.5rem;
  top: 15rem;
  position: absolute;
}

.sub-heding {
  font-size: larger;
  font-weight: 400;
  position: relative;
  top: 26rem;
}

